@charset "utf-8";
#wrraper #body #main_outer #module_02_banners #emf-container-outer #emf-container #emf-form #emf-form-instruction #emf-form-title {
	text-align: center;
}
* {
	text-align: center;
}
#wrraper #body #main_outer #module_02_banners #emf-container-outer #emf-container #emf-form ul #emf-li-0 .emf-div-field #element_0 {
	text-align: left;
}
#wrraper #body #main_outer #module_02_banners #emf-container-outer #emf-container #emf-logo {
	text-align: left;
}
#wrraper #body #main_outer #module_02_banners #emf-container-outer #emf-container #emf-logo p {
	text-align: left;
}
